@use '../helpers' as *;

.sitefooter {
	display: flex;
    flex-direction: row;
    justify-content: center;
	z-index: 1;
	@extend %font-primary-xs;
	margin-top: 6rem;
	&-inner {
		@extend %main-container;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		@include breakpoint(tablet-landscape) {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 6rem;
			padding-block: 4rem;

		}
	}
}