@use '../helpers' as *;

.sitefooter {
	display: flex;
    flex-direction: row;
    justify-content: center;
	z-index: 1;
	@extend %font-primary-xs;
	margin-top: 6rem;
	color: var(--color-text-inverted);
	background-color: var(--color-bg-inverted);
	&-inner {
		@extend %main-container;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		padding-block: 4rem;
		@include breakpoint(tablet-landscape) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: 6rem;

		}
	}
	.btn--cantata {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		color: var(--color-accent);
		&::before {
			display: block;
			content: "↓";
			font-size: 4rem;
			font-weight: 700;
		}
		@include breakpoint(tablet-landscape) {
			flex-direction: row;
			justify-content: center;
			text-align: center;
			&::before {
				line-height: 0.8;
				content: "→";
			}	
		}
	}
}