@use '../helpers' as *;

.page-body {
	h1 {
			@extend %font-primary-xxl;
	}
	h2 {
			@extend %font-primary-xl;
	}
	h3 {
			@extend %font-primary-l;
	}
	.abstract, .abstract > * {
		@extend %font-primary-l;
		line-height: var(--font-lineheight-normal);
		font-weight: normal;
	}
	.abstract {
		position: relative;
		padding-bottom: var(--space-l);
		[href*="mailto:"] {
			font-family: var(--font-family-secondary);
			font-weight: bold;
			font-style: italic;
			&:hover {
				color: var(--color-accent);
			}
		}
		@include breakpoint('tablet-landscape') {
			&::before {
				content: '';
				position: absolute;
				top: 1rem;
				left: -9.6rem;
				@include arrow-icon(4.8rem);
			}
		}
	}
}