.block--quote {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.quote__body {
    font-style: italic;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-l);
    line-height: var(--font-lineheight-normal);
    margin: 0;
    color: var(--color-primary);
    padding-top: 5rem;
    position: relative;
    &::before {
        content: "“";
        position: absolute;
        top: 0;
        left: 2rem;
        font-size: 20rem;
        line-height: 0.7;
        color: var(--color-secondary);
        opacity: .5;
    }
}

.quote__author {
    font-size: var(--font-size-s);
    color: var(--color-text-dull);
    &::before {
        content: "— ";
    }
}
