@use 'breakpoints' as *;

:root {
	--space-main: clamp(2rem, 2vw, 4rem);
	--space-s: clamp(1rem, 1vw, 2rem);
	--space-m: clamp(1.5rem, 1.5vw, 3rem);
	--space-l: clamp(2rem, 2vw, 4rem);
	--space-xl: clamp(3rem, 3vw, 6rem);
}