@use 'breakpoints' as *;

:root {
    --font-size-root: 10px;
    --font-family-primary:   'Schibsted Grotesk', system-ui, -apple-system, sans-serif;
    --font-family-secondary: 'Caudex', Georgia, serif;
    //
    // preferred = min + (max - min) * (100vw - 360px) / (1440 - 360)
    --font-size-xs:  1.2rem;
    --font-size-s:   1.4rem;
    --font-size-m:   clamp(1.6rem, 1.53rem + 0.19vw, 1.8rem);
    --font-size-l:   clamp(2.0rem, 1.67rem + 0.93vw, 3.0rem);
    --font-size-xl:  clamp(2.5rem, 1.73rem + 2.13vw, 4.8rem);
    --font-size-xxl: clamp(3.2rem, 1.77rem + 3.98vw, 8rem);
    //
    --font-lineheight-tight: 1;
    --font-lineheight-normal: 1.5;
    --font-lineheight-loose: 1.8; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: inherit;
    &:has(.icon) {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}

%font-base {
    font-family: var(--font-family-primary);
    line-height: var(--font-lineheight-normal);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    font-kerning: normal;
    margin: 0;
}

%font-primary-xs {
    @extend %font-base;
    font-size: var(--font-size-xs);
    
}


%font-primary-s {
    @extend %font-base;
    font-size: var(--font-size-s);
}

%font-primary-m {
    @extend %font-base;
    font-weight: 300;
    font-size: var(--font-size-m);
}

%font-primary-l {
    @extend %font-base;
    line-height: var(--font-lineheight-tight);
    font-size: var(--font-size-l);
    font-weight: bold;
}

%font-primary-xl {
    @extend %font-base;
    line-height: var(--font-lineheight-tight);
    font-weight: bold;
    font-size: var(--font-size-xl);
}

%font-primary-xxl {
    @extend %font-base;
    font-weight: bold;
    line-height: var(--font-lineheight-tight);
    font-size: var(--font-size-xxl);
}